###############################
###		FOLDER IGNORES		###
###############################

# Ignore folder named 'Debug'
Debug/

# Ignore folder named 'v14'
v14/

# Ignore folder named ''



###############################


###############################
###		  FILE IGNORES		###
###############################

# Ignore file named 'packages.config'
packages.config

# Ingore files ending with '.orig'
*.orig

###############################